.white-background{
    background-color: rgba(218, 223, 225, 0.5);
}


.page-title-box .page-title-right{
    float: right;
    margin-top: 20px;
}

.page-title-box .page-title {
    font-size: 18px;
    margin: 0;
    line-height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6C757D;
}

.btn-success {
    box-shadow: 0 2px 6px 0 rgba(10,207,151,.5) !important;
}

.btn-success {
    color: #fff !important;
    background-color: #0acf97 !important;
    border-color: #0acf97 !important;
}

.widget-flat {
    position: relative;
    overflow: hidden;
}

.content-page {
    margin-left: 260px;
    overflow: hidden;
    padding: 70px 12px 65px;
    min-height: 100vh;
}

.card {
    border: none !important;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15) !important;
    margin-bottom: 24px !important;
}

.text-muted {
    color: #98a6ad!important;
}

.font-weight-normal {
    font-weight: 400!important;
}

body{
    background-color: #fafbfe !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #161616 !important;
    text-align: left !important;
}